.ee-tooltip.ee-tooltip-efe1469.to--top,
							 .ee-tooltip.ee-tooltip-efe1469.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-efe1469.to--left,
							 .ee-tooltip.ee-tooltip-efe1469.to--right{margin-top:0px;}.elementor-14173 .elementor-element.elementor-element-e7c5b16{color:#000000;}