.ee-tooltip.ee-tooltip-d6e0b22.to--top,
							 .ee-tooltip.ee-tooltip-d6e0b22.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-d6e0b22.to--left,
							 .ee-tooltip.ee-tooltip-d6e0b22.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-df53eb9.to--top,
							 .ee-tooltip.ee-tooltip-df53eb9.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-df53eb9.to--left,
							 .ee-tooltip.ee-tooltip-df53eb9.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-6aead22.to--top,
							 .ee-tooltip.ee-tooltip-6aead22.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-6aead22.to--left,
							 .ee-tooltip.ee-tooltip-6aead22.to--right{margin-top:0px;}